.login-page {
	height: calc(100vh - var(--header-height));
	box-sizing: border-box;
	background-color: var(--page-color);
	.form-wrapper-login {
		margin: 0px auto;
		box-sizing: border-box;
		width: min-content;
		padding: calc((100vh - var(--header-height) - 400px) / 2) 0px;
		.form {
			width: 220px;
			height: 200px;
			box-sizing: border-box;
			margin: 0px 0px 200px 0px;
			.title {
				font-size: var(--text-sm);
			}
		}
	}
	.form-wrapper-reg {
		margin: 0px auto;
		box-sizing: border-box;
		width: min-content;
		padding: calc((100vh - var(--header-height) - 800px) / 2) 0px;
		.form {
			width: 220px;
			height: 400px;
			box-sizing: border-box;
			.title {
				font-size: var(--text-sm);
			}
		}
	}
}