.moment {
	width: 600px;
	border: solid 1px rgba($color: #000000, $alpha: 0.2);
	.title {
		padding: 4px;
		align-items: center;
		box-sizing: border-box;
		font-size: var(--text-sm);
		a {
			text-decoration: none;
			color: black;
		}
		.author {
			cursor: pointer;
		}
		img {
			width: 20px;
			height: 20px;
			border-radius: 20px;
			margin-right: 5px;
			cursor: pointer;
		}
	}
	.description {
		padding: 4px;
		border-top: solid 1px rgba($color: #000000, $alpha: 0.2);
	}
	.icons {
		padding: 4px;
		.icon {
			cursor: pointer;
			width: min-content;
			height: min-content;
			opacity: .7;
		}
	}
}